<div class="flex min-h-screen">
    <div class="cont1 flex-1">
      <app-header></app-header>
      <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 min-h-[61.9vh]">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 my-6">
          <app-card *ngFor="let product of products" [products]="product" (productClicked)="onProductClicked($event)"></app-card>
        </div>
      </div>
      <app-footer></app-footer>
    </div>

    <div class="cont2 w-80 min-h-screen bg-white shadow-lg rounded-l-lg p-4 overflow-auto z-50" *ngIf="cartItems.length > 0">
      <div class="flex justify-between items-center mb-4">
        <h3 class="text-xl font-semibold text-gray-800">Carrito</h3>
      </div>
      <div class="space-y-4">
        <div *ngFor="let item of cartItems" class="flex items-center justify-between">
          <img [src]="item.img" alt="{{ item.name }}" class="w-16 h-16 object-cover rounded-md">
          <div class="flex flex-col items-end">
            <span class="text-sm font-medium">{{ item.name }}</span>
            <span class="text-xs text-gray-500">Cantidad: {{ item.quantity }}</span>
            <span class="text-sm text-gray-600">${{ item.price * item.quantity | number: '1.2-2' }}</span>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <div class="flex justify-between">
          <span class="font-medium text-lg">Subtotal:</span>
          <span class="font-medium text-lg">${{ totalCartPrice() }}</span>
        </div>
        <button (click)="goToCart()" class="mt-4 w-full py-3 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition duration-300 glow-effect">
            Ver carrito
        </button>
      </div>
    </div>
  </div>
  