<div class="relative w-full max-w-md  overflow-hidden rounded-lg shadow-xl bg-white">
  <!-- Carousel Images -->
  <div class="relative w-full flex transition-all duration-700 ease-in-out" [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
    <img *ngFor="let image of images" 
         [src]="image" 
         alt="Product Image"
         class="w-full h-auto rounded-lg object-cover">
  </div>
  
  <!-- Carousel Controls -->
    <button (click)="prevImage()" 
      class="absolute top-1/2 left-2 transform -translate-y-1/2 w-12 h-12 flex items-center justify-center bg-white text-black rounded-full opacity-80 hover:opacity-100 transition duration-300 shadow-md hover:shadow-lg focus:outline-none">
      &#10094;
  </button>

  <button (click)="nextImage()" 
      class="absolute top-1/2 right-2 transform -translate-y-1/2 w-12 h-12 flex items-center justify-center bg-white text-black rounded-full opacity-80 hover:opacity-100 transition duration-300 shadow-md hover:shadow-lg focus:outline-none">
      &#10095;
  </button>
</div>
