<!-- admin-sidebar.component.html -->
<div class="inset-0 h-full w-64">
    <aside class="admin-sidebar h-full w-64 bg-gray-900 text-white shadow-lg flex flex-col">
    <nav class="flex-1">
        <ul class="space-y-2 mt-8">
            <li>
                <a href="#" class="flex items-center px-6 py-3 rounded-lg hover:bg-gray-800 transition-colors font-medium">
                    Inventarios
                </a>
            </li>
            <li>
                <a routerLink="/admin/create" class="flex items-center px-6 py-3 rounded-lg hover:bg-gray-800 transition-colors font-medium">
                    Crear Inventarios
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center px-6 py-3 rounded-lg hover:bg-gray-800 transition-colors font-medium">
                    Usuarios
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center px-6 py-3 rounded-lg hover:bg-gray-800 transition-colors font-medium">
                    Reportes
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center px-6 py-3 rounded-lg hover:bg-gray-800 transition-colors font-medium">
                    Soporte
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center px-6 py-3 rounded-lg hover:bg-gray-800 transition-colors font-medium">
                    Configuración
                </a>
            </li>
        </ul>
    </nav>
</aside>
</div>

