/* Animación lenta para la onda expansiva (Ping) */
@keyframes ping-slow {
    75%, 100% {
      transform: scale(2);
      opacity: 0;
    }
}
.animate-ping-slow {
    animation: ping-slow 3s cubic-bezier(0, 0, 0.2, 1) infinite;
}

/* Animación de entrada para el tooltip */
@keyframes bounce-in {
    0% { opacity: 0; transform: scale(0.8) translateY(10px); }
    100% { opacity: 1; transform: scale(1) translateY(0); }
}
.animate-bounce-in {
    animation: bounce-in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
    animation-delay: 1s; /* Aparece 1 segundo después de cargar la página */
}