/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Medium.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'Poppins', sans-serif;
  }

:root {
  --color-brand: 236 64 122; 
  --color-accent: 38 198 218; 
  
  --bg-page: 255 252 250;    /* #fffefa */
  --bg-surface: 255 255 255; /* Blanco puro para tarjetas */
  
  /* Textos: En lugar de negro, usamos un "Uva Profundo" */
  --text-main: 74 20 140;    /* #4a148c - Da un toque premium */
  --text-muted: 156 39 176;  /* #9c27b0 - Un lila grisáceo para textos secundarios */
  --text-inverted: 255 255 255;
}

.glow-effect {
  box-shadow: 0 0 15px rgba(var(--color-brand), 0.5); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.glow-effect:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(var(--color-brand), 0.7);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgb(var(--color-secondary)); 
  border-radius: 4px;
}

