/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Medium.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'Poppins', sans-serif;
  }

 :root {
  --color-brand: 37 99 235;     
  --color-accent: 220 38 38; 
  
  /* Fondos */
  --bg-page: 249 250 251;         /* Color de fondo de la web  */
  --bg-surface: 255 255 255;      /* Color de tarjetas y menús  */
  
  /* Textos */
  --text-main: 31 41 55;          /* Texto principal  */
  --text-muted: 75 85 99;         /* Texto secundario */
  --text-inverted: 255 255 255;   /* Texto sobre fondos oscuros/marca */
}

.glow-effect {
  box-shadow: 0 0 15px rgba(var(--color-brand), 0.5); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.glow-effect:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(var(--color-brand), 0.7);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgb(var(--color-secondary)); 
  border-radius: 4px;
}

