/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Medium.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --color-brand: 97 71 53;
  --color-accent: 241 90 41;

  /* FONDOS: Blanco Humo (muy neutro) */
  --bg-page: 248 250 250; /* #f8fafa - Mint White */
  --bg-surface: 255 255 255;

  /* TEXTOS: Gris Pizarra (Slate) profesional */
  --text-main: 97 71 53; /* #374151 - Slate 700 */
  --text-muted: 156 163 175; /* #9ca3af - Gray 400 */
  --text-inverted: 255 255 255;
}

/* IMPORTANTE: Corrige el scrollbar también */
::-webkit-scrollbar-thumb {
  background: rgb(var(--color-brand));
  border-radius: 4px;
}

.glow-effect {
  box-shadow: 0 0 15px rgba(var(--color-brand), 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.glow-effect:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(var(--color-brand), 0.7);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgb(var(--color-secondary));
  border-radius: 4px;
}
